<h1> Classified Adds </h1>
<p><%= link_to 'New Add', new_classified_path %></p>
<% @classifieds.each do |add| %>
  <h2><%= add.title %></h2>
  <h3><%= add.author %></h3>
  <p><%= add.body %></p>
  <%= link_to 'Show Add', classified_path(add) %>
<% end %>
